Source: dp3
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 cmake,
 debhelper (>= 11),
 dh-python,
 python-all,
 libhdf5-dev,
 casacore-dev,
 libblas-dev,
 liblapack-dev,
 libboost-dev,
 python-dev,
 libboost-filesystem-dev,
 libboost-system-dev,
 libboost-test-dev,
 libboost-date-time-dev,
 libboost-program-options-dev,
 libboost-python-dev,
 libxml2-dev,
 libpng-dev,
 libcfitsio-dev,
 libarmadillo-dev,
 aoflagger-dev,
 lofarbeam-dev,
 libboost-signals-dev,
 libgtkmm-3.0-dev,
 idg-dev
Standards-Version: 4.5.0
Homepage: https://github.com/lofar-astron/DP3
X-Python-Version: >= 2.6

Package: python-dp3
Architecture: any
Conflicts: python-lofar
Depends: ${misc:Depends}, ${shlibs:Depends}, ${python:Depends}
Description: streaming processing pipeline for radio data (python 2)

Package: dp3
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: streaming processing pipeline for radio data
