#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	mkdir obj-$(DEB_BUILD_MULTIARCH)
	cd obj-$(DEB_BUILD_MULTIARCH) && cmake -DCMAKE_INSTALL_LIBDIR=lib/$(DEB_BUILD_MULTIARCH) -DAOFLAGGER_LIB=/usr/lib/libaoflagger.so.0 ..
